<template>
    <div id="threeD">
    </div>
</template>

<script>
import * as THREE from 'three';
import * as OBJLoader from 'three-obj-loader'
OBJLoader(THREE)
const OrbitControls = require('three-orbit-controls')(THREE)

export default {
  mounted() {
    //setup
    const container = document.getElementById('threeD');

    const renderer = new THREE.WebGLRenderer();
    renderer.setSize(container.clientWidth,container.clientHeight);

    const scene = new THREE.Scene();
    scene.autoUpdate = true
    scene.background = new THREE.Color('white');
    const camera = new THREE.PerspectiveCamera( 35, 1, 1, 5000 );
    camera.position.x = 0;
    camera.position.y = 0;
    camera.position.z = 1.5;

    //lighting
    const hlight = new THREE.AmbientLight (0x404040,100);
    scene.add(hlight);

    const light = new THREE.SpotLight(0xFFFCF9,1000);
    light.position.set(0,300,-300);
    scene.add(light);

    const frontLight = new THREE.SpotLight(0xFFFCF9,250);
    frontLight.position.set(-100,500,100);
    scene.add(frontLight);

    //textures
    const textureLoader = new THREE.TextureLoader();

    function loadTextures(name) {
        return {
            map : textureLoader.load("textures/"+name+"baseColor.jpeg"),
            normalMap : textureLoader.load("textures/"+name+"normal.jpeg"),
            displacementMap : textureLoader.load("textures/"+name+"height.jpeg"),
            roughnessMap : textureLoader.load("textures/"+name+"roughness.jpeg"),
            aoMap : textureLoader.load("textures/"+name+"ambientOcclusion.jpeg"),
            metalnessMap : textureLoader.load("textures/"+name+"metallic.jpeg"),
        }
    }

    //loading 3d model into scene
    const loader = new THREE.OBJLoader();

    function animate() {
        requestAnimationFrame(animate);
        renderer.initTexture(textureLoader);
        renderer.compile(scene, camera);
        renderer.render(scene, camera);
    }

    loader.load("codersCoin.obj", obj => {
        obj.children.forEach(c => {
            c.rotation.set(-1/7*Math.PI, 1/2.8*Math.PI,0)
        })
        obj.children[0].material = new THREE.MeshStandardMaterial({
            displacementScale: 0, roughness: 0.8, metalness: 1, ...loadTextures("gold/gold-3-")
        }) 
        obj.children[1].material = new THREE.MeshStandardMaterial({
            displacementScale: 0, roughness: 0.8, metalness: 1, ...loadTextures("silver/Silver-4-")
        }) 
        obj.children[2].material = new THREE.MeshStandardMaterial({
            displacementScale: 0, roughness: 0.8, metalness: 1, ...loadTextures("silver/Silver-4-")
        }) 

        scene.add(obj); 

        //360 control
        const controls = new OrbitControls(camera,renderer.domElement,obj);
        controls.addEventListener('change', renderer);

        animate()
        setTimeout(() => container.appendChild(renderer.domElement), 500);
    });
  },
}
</script>

<style scoped>
#threeD{
    width: 350px;
    height: 350px;
}
</style>