<template>
    <div class="content">
        <div class="text">
            <p>Copyright by CODERS.BAY Vienna 2022</p>

            <div class="mid-part">
                <p>Made with
                    <img src="../assets/heart.webp" alt="Heart" class="heart2">
                    <!-- <svg class="heart" viewBox="0 0 32 29.6">
                        <path d="M23.6,0c-3.4,0-6.3,2.7-7.6,5.6C14.7,2.7,11.8,0,8.4,0C3.8,0,0,3.8,0,8.4c0,9.4,9.5,11.9,16,21.2c6.1-9.3,16-12.1,16-21.2C32,3.8,28.2,0,23.6,0z"/>
                    </svg> -->
                in Vienna</p>
            </div>
            
            <div class="props">
                <p>Designed & Developed by</p>
                <p>Mikail Yagci, Bartlomiej Padiasek & David Scherbaum</p>
            </div>
        </div>
    </div>
</template>

<script>
</script>

<style scoped>
.content{
    height: 100%;
    width: 100%;
    margin: 0 20px;
    display: flex;
}

.text{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    color: rgb(150, 150, 150);
    margin: 0;
    line-height: 50%;
    font-size: 0.7rem;
    text-align: right;
    align-items: flex-end;
}

.heart2 {
    position: relative;
    top: 5px;
    margin: 0 2px;
    width: 20px;
}

.heart {
    fill: red;
    position: relative;
    top: 5px;
    margin: 0 5px;
    width: 20px;
    animation: pulse 1s ease infinite;
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.3); }
  100% { transform: scale(1); }
}
</style>