<template>
  <div class="content">
    <div ref="container"></div>
  </div>
</template>

<script>
import G6 from '@antv/g6';

function refreshDragedNodePosition(e) {
  const model = e.item.get('model');
  model.fx = e.x;
  model.fy = e.y;
}

import axios from 'axios'

export default {
  data: () => ({
    longestBlock: '',
    graph: null,
  }),


  computed: {
  },

  async mounted() {
    this.longestBlock = await axios.get('get-longest-chain/')

    this.graph = new G6.Graph({
      container: this.$refs.container, // The id of the container
      // The width and height of the graph
      width: 1020,
      height: 240,
      radius: 26,
      //fitView: true, // fit the graph to the view
      defaultNode:{
        style:{
          shadowOffsetX: 2,
          shadowOffsetY: 2,
          shadowColor: 'black',
          shadowBlur: 5,
          opacity: 0.8,
        },
      },
      layout: {
        type: 'force',
        preventOverlap: true,
      },
      modes: {
        default: [
          'drag-canvas',
          'zoom-canvas',
            //'drag-node'
        ],

      },
    });

    // Load the data
    this.graph.data(this.longestBlock.data);
    // Render the graph
    this.graph.render();

    await fetch('http://localhost:3000/get-list-for-transaction-visualisation')
    .then((res) => res.json())
    .then((data) => {
      const nodes = data.nodes;
      // randomize the node size
      nodes.forEach((node) => {
        if (node.amount > 0) {
          node.size = node.amount*4
        }
        else {
          node.size = 1*4
        }
        node.color = "black";
        node.label =""
        node.s
      });
      this.graph.data({
        nodes,
        edges: data.edges.map(function (edge, i) {
          edge.id = 'edge' + i;
          edge.size = 1
          edge.color = 'black'
          return Object.assign({}, edge);
        }),
      });
      this.graph.render();

    });



    this.graph.on('node:dragstart',  (e)=> {
      this.graph.layout();
      refreshDragedNodePosition(e);
      //this.graph.refresh();
    });
    this.graph.on('node:drag',  (e)=> {
      const forceLayout = this.graph.get('layoutController').layoutMethods[0];
      forceLayout.execute();
      refreshDragedNodePosition(e);
      //this.graph.refresh();
    });
    this.graph.on('node:dragend', function (e) {
      e.item.get('model').fx = null;
      e.item.get('model').fy = null;
    });
    this.graph.on('node:mouseover', (e)=> {
      const model = e.item.get('model');
      model.label = e.item._cfg.id
      this.graph.refresh()
    });
    this.graph.on('node:mouseleave', (e)=> {
      const model = e.item.get('model');
      model.label = ""
      this.graph.refresh()
    });



  },
  beforeDestroy() {
    this.graph.destroy();
  },

  methods: {
  }
}
</script>

<style scoped>

</style>