<template>
    <div class="nav-bar">
        <div class="nav-content">
            <div class="left"><router-link to ="/dashboard"><img src="../assets/LogoPngg.png" style="height: 50px; display: flex;"></router-link></div>
            <div class="right">
                <router-link to ="/transaction" class="links" :class="transactionStyle"><img src="../assets/transaction.svg"><p>Transaktion</p></router-link>
                <router-link to ="/mining" class="links-short" :class="miningStyle"><img src="../assets/mining.svg"><p>Mining</p></router-link>
                <router-link to ="/blockchain" class="links" :class="blockchainStyle"><img src="../assets/blockchain.svg"><p>Blockchain</p></router-link>
                <router-link to ="/wallet" class="links-short" :class="walletStyle"><img src="../assets/profile.svg"><p>Wallet</p></router-link>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data: () => ({
        transactionStyle: '',
        miningStyle: '',
        blockchainStyle: '',
        walletStyle: '',
    }),
    watch:{
        $route (value){
            console.log(value.path);
            if(value.path === "/transaction"){
                this.transactionStyle = "active-link"
                this.miningStyle= ''
                this.blockchainStyle= ''
                this.walletStyle= ''
            }else if(value.path === "/mining"){
                this.miningStyle = "active-link-short"
                this.transactionStyle = ''
                this.blockchainStyle= ''
                this.walletStyle= ''
            }else if(value.path === "/blockchain"){
                this.blockchainStyle = "active-link"
                this.transactionStyle = ''
                this.miningStyle= ''
                this.walletStyle= ''
            }else if(value.path === "/wallet"){
                this.walletStyle = "active-link-short"
                this.blockchainStyle = ''
                this.transactionStyle = ''
                this.miningStyle= '';
            }else{
                this.walletStyle = ''
                this.blockchainStyle = ''
                this.transactionStyle = ''
                this.miningStyle= '';
            }
        }
    }
}
</script>

<style scoped>
.nav-bar{
    height: 70px;
    width: 100%;
    background: black;
    color: white;
}

.nav-content{
    height: 100%;
    width: 1020px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.left{
    margin: auto 0;
}

.right{
    margin: auto 0;
    display: flex;
    justify-content: space-between;
}

.links, p{
    text-decoration: none;
}

.links{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 0 0 0 10px;
    background: white;
    display: flex;
}

.links p{
    display: none;
}

.links:hover{
    align-items: start;
    height: 50px;
    transition: width 0.16s ease-in;
    transition-delay: 0.4s;
    width: 200px;
    border-radius: 25px;
    margin: 0 0 0 10px;
    background: #ECBD4D;
    display: flex;
}

.links:hover img{
    width: 50px;
}

.links:hover p{
    display: block;
    color: black;
    font-weight: bold;
    font-size: 1.5rem;
    margin: auto;
    margin-left: 5px;
}

.links-short, p{
    text-decoration: none;
}

.links-short{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 0 0 0 10px;
    background: white;
    display: flex;
}

.links-short p{
    display: none;
}

.links-short:hover{
    align-items: start;
    height: 50px;
    transition: width 0.17s ease-in;
    transition-delay: 0.4s;
    width: 140px;
    border-radius: 25px;
    margin: 0 0 0 10px;
    background: #ECBD4D;
    display: flex;
}

.links-short:hover img{
    width: 50px;
}

.links-short:hover p{
    display: block;
    color: black;
    font-weight: bold;
    font-size: 1.5rem;
    margin: auto;
    margin-left: 0;
}

.active-link{
    align-items: start;
    height: 50px;
    width: 200px;
    border-radius: 25px;
    margin: 0 0 0 10px;
    background: #ECBD4D;
    display: flex;
}

.active-link img{
    width: 50px;
}

.active-link p{
    display: block;
    color: black;
    font-weight: bold;
    font-size: 1.5rem;
    margin: auto;
    margin-left: 5px;
}

.active-link-short{
    align-items: start;
    height: 50px;
    width: 140px;
    border-radius: 25px;
    margin: 0 0 0 10px;
    background: #ECBD4D;
    display: flex;
}

.active-link-short img{
    width: 50px;
}

.active-link-short p{
    display: block;
    color: black;
    font-weight: bold;
    font-size: 1.5rem;
    margin: auto;
    margin-left: 0;
}
</style>