<template>
  <div class="content">
    <div class="transaction-table">
      <table>
        <thead>
            <tr>
              <th>Hash</th>
              <th>Zeitstempel</th>
              <th>Betrag</th>
            </tr>
        </thead>
        <tbody v-for="(transcation, index) in transactions.data" :key="index">
            <tr @click="openDetailedInfo(transcation)">
              <td> <input type="text" disabled v-model="transcation.signedTransaction" class="hash"></td>
              <td>{{transcation.timestamp}}</td>
              <td>{{transcation.amount.toFixed(2)}}</td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  data: () => ({
    transactions: '',
  }),

  methods:{
    openDetailedInfo(transaction){
      //this.$router.push({name:"TransactionDetail", params:{selectedTransaction:transaction}});
      let routeData = this.$router.resolve({name: 'TransactionDetail', query: {selectedTransaction: transaction.signedTransaction}});
      window.open(routeData.href, '_blank');
    }
  },

  computed: {
  },

  async mounted() {
    this.transactions = await axios.get('get-transactions-sorted-by-time/')
  }
}

</script>

<style scoped>
.transaction-table{
    height: 260px;
    width: 100%;
    border-radius: 26px;
    text-align: left;
    table-layout: fixed;
    border-collapse: collapse;
    display: block;
    overflow-y: auto;
    font-size: 0.8rem;
}

table{
    width: 100%;
    padding: 0;
    border-spacing: 0;
}

.transaction-table thead{
  text-align: left;
  font-weight: bold;
  position: sticky;
  top: 0;
  width: 100%;
  height: 35px;
  background: white;
}

.key-table tbody{
    height: 100%;
}

th:nth-of-type(1){
    width: 150px;
}

td:nth-of-type(3){
    width: 50px;
    text-align: center;
}

th, td{
    padding: 10px;
    border-bottom: 1px solid #ffebbd;
}

tr:nth-of-type(even){
}

tbody tr:hover{
  background: rgb(233, 233, 233);
  transition: all 0.2s ease;
  cursor: pointer;
}

.hash{
  width: 200px;
  border: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-overflow: "…";
  background: none;
  color: black;
  cursor: pointer;
}
</style>