<template>
  <div id="app">
    <nav-bar v-if="!$route.meta.hideNavBar"/>
    <main>
        <router-view/>
    </main>
  </div>
</template>

<script>
import NavBar from "./components/NavBar.vue";

export default {
  name: "App",
  components: {
    NavBar,
  },
};
</script>

<style>
@import url('https://fonts.googleapis.com/css2?family=Istok+Web:wght@400;700&display=swap');

body {
  margin: 0;
}

#app {
  /* font-family: Avenir, Helvetica, Arial, sans-serif; */
  font-family: 'Istok Web', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: black;
}

canvas{
  border-radius: 26px;
}

main {
  width: 1020px;
  margin: 0 auto;
}

::placeholder {
  color: black;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: none;
}
 
::-webkit-scrollbar-track {
    background-color: none;
    border-radius: 100px;
}
 
::-webkit-scrollbar-thumb {
    background: rgb(121, 121, 121);
    box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
    border-radius: 100px;
    height: 10px;
}
</style>
