<template>
  <div class="content">
    <div class="drag-drop" ref="hover" @dragleave="onDragLeave" @drop.prevent="onFileDrop" @dragenter.prevent @dragover.prevent>
      <h4>drop your blocks here</h4>
    </div>
    <div class="blockchain" ref="container" @dragover="onDrag">
      <input type="file" class="file-input" ref="uploadFile" multiple accept=".json" @change="onFileUpload" required>
      <button @click="onDownload">exportieren</button>
    </div>
  </div>
</template>

<script>
import G6 from '@antv/g6';

G6.registerNode(
    'card-node',
    {
      getAnchorPoints() {
        return [
          [0, 0.5], // The center of the left border
          [1, 0.5], // The center of the right border
        ];
      },
      drawShape: function drawShape(cfg, group) {
        const color = cfg.error ? '#F4664A' : '#3A4147';
        const color2 = '#ffffff';
        const r = 8;
        const shape = group.addShape('rect', {
          attrs: {
            x: 0,
            y: 0,
            width: 300,
            height: 180,
            stroke: color,
            fill: color2,
            lineWidth: 2,
            radius: r,
            cursor: 'pointer',
          },
          name: 'main-box',
          draggable: false,
        });

        group.addShape('rect', {
          attrs: {
            x: 0,
            y: 0,
            width: 300,
            height: 40,
            fill: color,
            radius: [r, r, 0, 0],
            cursor: 'pointer',
          },
          name: 'title-box',
          draggable: true,
        });


        // left icon
        group.addShape('image', {
          attrs: {
            x: 10,
            y: 4,
            height: 30,
            width: 30,
            img: "block.png",
            cursor: 'pointer',
          },
          name: 'node-icon',
        });

        // title text
        group.addShape('text', {
          attrs: {
            textBaseline: 'top',
            y: 10,
            x: 52,
            lineHeight: 20,
            text: cfg.title,
            fill: '#fff',
            fontWeight:'bold',
            fontSize:20,
            cursor: 'pointer',
          },
          name: 'title',
        });

        // The content list
        cfg.content.forEach((item, index) => {
          // name text
          group.addShape('text', {
            attrs: {
              textBaseline: 'top',
              y: 55 + index *30,
              x: 10,
              lineHeight: 20,
              fontWeight:'bold',
              text: item.title,
              fill: 'rgb(0,0,0)',
              cursor: 'pointer',
            },
            name: `index-title-${index}`,
          });
          // value text
          group.addShape('text', {
            attrs: {
              textBaseline: 'top',
              y: 55  + index * 30,
              x: 90,
              lineHeight: 20,
              text: item.content,
              fill: '#595959',
              cursor: 'pointer',
            },
            name: `index-title-${index}`,
          });
        });
        return shape;
      },
    },
    'single-node',
);
import axios from 'axios'
export default {
  data: () => ({
    graph: null,
    windowHeight: window.innerHeight,
    files: [],
    dragStyle: '',
  }),
  computed: {
    blockchain() {
      return this.$store.state.blockchain
    },
    filesArray() {
      return this.files.reduce((arr, {content}) => {
          arr.push(...content)
          return arr
      }, [])
    },
  },

  async mounted() {
    this.$nextTick(() => {
      window.addEventListener('resize', this.onResize);
    })

    this.graph = new G6.TreeGraph({
      container: this.$refs.container, // The id of the container
      // The width and height of the graph
      width: 1020,
      height: this.windowHeight-200,
      zIndex: 0,
      //fitView: true, // fit the graph to the view
      defaultNode: {
        type: 'card-node',
      },
      defaultEdge:{
        color: '#3A4147',
        style:{
          lineWidth:2,
        },
      },
      modes: {
        default: [
          {
            // Assign the collapse/expand behavior
            //type: 'collapse-expand',
          },
          'drag-canvas',
          'zoom-canvas',
        ],
      },
      layout: {
        type: 'mindmap', // Layout type
        direction: 'LR', // Layout direction is from the left to the right. Options: 'H' / 'V' / 'LR' / 'RL' / 'TB' / 'BT'
        getVGap : () => {
          return 150;
        },
        getHGap : () => {
          return 200;
        }
      }
    });


    //load blockchain data
    await this.$store.dispatch('getBlockchain'),
    // Load the data
    this.graph.data(this.blockchain);
    // Render the graph
    this.graph.render();

    const node = this.graph.getNodes()[0];
    const { x, y } = node.getModel();
    this.graph.zoom(1.1,{x:x-5000, y:y-8500});
    this.graph.zoom(0.5);

    this.graph.on('node:click', (e)=> {
      //this.$router.push({name:"BlockDetail", params:{selectedBlock:e.item.get('model').block}});
      let routeData = this.$router.resolve({name: 'BlockDetail', query: {selectedBlock: e.item.get('model').block.idBlock}});
      window.open(routeData.href, '_blank');
    });

  },
  beforeDestroy() {
    this.graph.destroy();
    window.removeEventListener('resize', this.onResize);
  },

  methods: {
    async onDownload(){
      const blockchain = await axios.get('get-all-blocks');
      const downloadLink = document.createElement('a')
      downloadLink.href = 'data:application/json;charset=utf-8,' + encodeURIComponent(JSON.stringify(blockchain.data))
      downloadLink.download = 'blockchain.json'
      downloadLink.click()
    },
    onDrag(){
      this.$refs.hover.style.display = 'block';
    },
    onDragLeave(){
    this.$refs.hover.style.display = 'none';
    },
    onResize() {
      this.windowHeight = window.innerHeight
    },
    //file upload
    async onFileDrop(event){
      this.$refs.hover.style.display = 'none';
      const promises = []
      for (let file of event.dataTransfer.files) {
        promises.push(this.readAndAppendFile(file))
      }
      await Promise.all(promises)
      await axios.post('save-block', this.filesArray)
      this.refreshGraph();
    },
    async onFileUpload(){
      //loop for every file
      const promises = []
      for (let file of this.$refs.uploadFile.files) {
          promises.push(this.readAndAppendFile(file))
      }
      await Promise.all(promises)
      await axios.post('save-block', this.filesArray)
      this.refreshGraph();
    },
    async readAndAppendFile(file) {
      this.files = []
      return new Promise((resolve, reject) => {
        const fr = new FileReader()
        //file json structure into one array
        fr.onload = e => {
          this.files.push({
              content: JSON.parse(e.target.result),
              name: file.name
          });
          resolve();
        }
        fr.onerror = reject
        fr.readAsText(file)
      })
    },
    async refreshGraph(){
      await this.$store.dispatch('getBlockchain'),
      this.graph.data(this.blockchain);
      this.graph.render();
      this.graph.refresh();
      const node = this.graph.getNodes()[0];
      const { x, y } = node.getModel();
      this.graph.zoom(1.1,{x:x-5000, y:y-8500});
      this.graph.zoom(0.5);
    },
  },
}
</script>

<style scoped>
.blockchain{
  width: 1020px;
  height: 100%;
  height: auto;
  margin: 35px 0 0 0;
  border: 3px solid #ECBD4D;
  border-radius: 26px;
  text-align: right;
  background: none;
  cursor: move;
  padding: 0;
  position: relative;
}

.drag-drop{
  display: none;
  width: 1020px;
  height: calc(100vh - 193px);
  position: absolute;
  margin: auto;
  border: 3px solid #ECBD4D;
  border-radius: 26px;
  text-align: right;
  content: 'hello';
  color: black;
  background: rgba(173, 173, 255, 0.275);
  z-index: 999;
}

h4{
  text-align: center;
  margin: 30% auto;
  font-size: 1.8rem;
  text-decoration: underline;
  color:rgb(10, 0, 41);
}

.file-input {
  color: transparent;
  width: 160px;
  margin: 10px;
  position: absolute;
  top: 10;
  right: 10;
  z-index: 1;
}
.file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.file-input::before {
  content: 'importieren';
  color: black;
  display: inline-block;
  background: #ECBD4D;
  border: 2px solid #ECBD4D;
  border-radius: 23px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 10px;
}
.file-input:hover::before {
}
.file-input:active {
  outline: 0;
}
.file-input:active::before {
  background: #ffdd8d;
}

button{
    width: 150px;
    background: #ECBD4D;
    border: none;
    color: black;
    font-size: 1.5rem;
    margin: 10px;
    padding: 10px;
    font-weight: bold;
    border-radius: 20px;
    display: block;
    cursor: pointer;
    position: absolute;
    top: 10;
    right: 0;
    z-index: 1;
}
</style>